<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-4.2.xsd">
    <security:http>
        <security:intercept-url pattern="/userLogin" access="permitAll()"/>
        <security:intercept-url pattern="/product/index" access="permitAll()"/>
        <security:intercept-url pattern="/imageCode" access="permitAll()"/>
        <security:intercept-url pattern="/js/**" access="permitAll()"/>
        <security:intercept-url pattern="/product/add" access="hasRole('ROLE_USER')"/>
        <security:intercept-url pattern="/product/update" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/product/list" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/product/delete" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/**" access="isFullyAuthenticated()"/>
<!--自定义spring security过滤器（验证码过滤器，在登录之前的过滤器-->
        <security:custom-filter ref="imageCodeAuthenticationFilter" before="FORM_LOGIN_FILTER"/>
        <security:form-login login-page="/userLogin" login-processing-url="/securityLogin"
                             authentication-success-handler-ref="myAuthentiactionSuccessHandler"
                             authentication-failure-handler-ref="myAuthentiactionFailureHandler"/>
        <security:csrf disabled="true"/>
        <security:access-denied-handler error-page="/error"/>
    </security:http>
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="myUserDetailService">
            <!--使用加密算法对用户输入的密码进入加密，然后和数据库的密码进行配对 -->
            <security:password-encoder ref="passwordEncoder"/>
        </security:authentication-provider>
    </security:authentication-manager>
    <bean id="myUserDetailService" class="com.zhouzhu.security.MyUserDetailService"/>
    <bean id="myAuthentiactionSuccessHandler" class="com.zhouzhu.security.MyAuthentiactionSuccessHandler"/>
    <bean id="myAuthentiactionFailureHandler" class="com.zhouzhu.security.MyAuthentiactionFailureHandler"/>
    <!--  密码加密  -->
    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
<!--验证码过滤器-->
    <bean id="imageCodeAuthenticationFilter" class="com.zhouzhu.security.ImageCodeAuthenticationFilter">
        <property name="authenticationFailureHandler" ref="myAuthentiactionFailureHandler"/>
    </bean>
</beans>