<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

</head>
<body>
    <form method="post" th:action="@{/login}">
        <span style="color: red" th:if="${param.error}" th:text="密码或用户名错误"></span>
        <div>
            用户名：<input type="text" name="username"/>
        </div>
        <div>
            密码：<input type="password" name="password">
        </div>
        <div>
            <input type="submit" value="登录">
        </div>
    </form>
</body>
</html>